h2 {
    color: blue;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.3em;
}

h4 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0.5em;
}

.temp-highlight {
  background-color: orange;
  animation: bgcolor 0.7s forwards;
}

@keyframes bgcolor {
    from {background-color: orange;}
    to {background-color:	#FEFEFA;}
}

.sudoku-sidebar {
  background-color: #EEDFCC;
  height: 100vh;
  font-size: 0.9em;
}

.sudoku-primarybar {
  background-color: #FEFEFA;
  height: 100vh;
}

/*.sudoku-primary {
  background-color: #F1F2EB;
  height: 100vh;
}*/
