h2 {
    color: blue;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.3em;
}

.temp-highlight {
  background-color: orange;
  animation: bgcolor 0.7s forwards;
}

@keyframes bgcolor {
    from {background-color: orange;}
    to {background-color: white;}
}
